<div class="container">
  <div class="poromodo timer-background timer">
    <div class="mission">
      <input type="text" class="inputMission" />
    </div>
    <div class="menu">
      <div class="menuButton">
        <mat-icon class="white-icon menu-button">list</mat-icon>
        <mat-icon class="white-icon menu-button">assessment</mat-icon>
        <mat-icon class="white-icon menu-button">library_music</mat-icon>
        <div class="menu-title white-font">POMODORO</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
